.blog {
}

.section {
}

.blog__inner {
  padding-inline: 30px 38px;
}

.blog__head {
}

.blog__cards {
  display: grid;
  gap: 16px;
}

.blog__card {
}

.blog-card {
}

.blog__image {
}

.blog__tag {
}

.blog__text-box {
}

.blog__title {
}

.blog__sub-title {
}

.blog__button {
  margin-top: 46px;
  text-align: center;
}
