@use "breakpoints" as bp;

.blog {
  background: #ffffff;

  @include bp.mq(md) {
    padding-block: 100px;
  }
}

.blog__inner {
  padding-inline: 30px 38px;

  @include bp.mq(md) {
    padding-inline: 48px;
  }
}

.blog__head {
}

.blog__cards {
  display: grid;
  gap: 16px;

  @include bp.mq(md) {
    margin-top: 60px;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }

  @include bp.mq(lg) {
    margin-top: 40px;
  }
}

.blog__card {
}

.blog-card {
  border-radius: 4px;
  box-shadow: 5px 7px 34px 0px #f1f1f1;
  padding: 12px 15px 16px;
}

.blog__image {
  position: relative;
  max-width: 330px;
  margin-inline: auto;
  img {
    width: 330px;
  }
}

.blog__tag {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  background: #2392db;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: calc(17px / 12px);
  padding: 3px 32px;
}

.blog__text-box {
  display: flex;
  flex-direction: column;
}

.blog__title {
  color: #333333;
  margin-top: 5px;
  font-size: 15px;
  font-weight: 700;
}

.blog__sub-title {
  color: #333333;
  margin-top: 3px;
  font-size: 13px;
  font-weight: 400;
}

.blog__button {
  margin-top: 46px;
  text-align: center;

  @include bp.mq(md) {
    margin-top: 60px;
  }
}
