.case-study {
}

.case-study__inner {
  padding-left: 20px;
}

.case-study__heading {
  padding-left: 10px;
}

.case-study__slider {
  margin-top: 50px;
}

.swiper {
}

.case-study__swiper {
}

.swiper-wrapper {
}

.case-study__wrapper {
}

.swiper-slide {
}

.case-study__slide {
}

.case-study__card {
  border-radius: 4px;
  background: #ffffff;
  filter: drop-shadow(5px 7px 34px #f1f1f1);
  width: 320px;
}

.case-study__image {
}

.case-study__text-box {
  padding-block: 14px;
  padding-left: 10px;
}

.case-study__text {
  color: #228ddd;
  font-size: 15px;
  font-weight: 700;
}

.case-study__company {
}

.name {
}

.case-study__industry {
}

.swiper-pagination {
}

.case-study__pagination {
}

.swiper-button-prev {
}

.case-study__prev {
}

.swiper-button-next {
}

.case-study__next {
}

.case-study__button {
  margin-top: 30px;
  padding: 4px 3px;
  text-align: center;
}
