.company {
}

.section {
}

.company__inner {
  padding-inline: 15px;
}

.company__heading {
  padding-left: 15px;
}

.company__tab--list {
  margin-bottom: -22px;
}

.company__tabs {
  display: flex;
  justify-content: center;
}

.company__tab {
  position: relative;
  cursor: pointer;
  background: #ffffff;
  padding: 10px 30px;
  min-width: calc(64px + 30px * 2);
  display: flex;
  justify-content: center;
  align-items: center;

  &:nth-of-type(2) {
    border-right: 1px solid #2392db;
  }
}

.company__tab--icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: transform 0.3s;
  svg {
    stroke: #2392db;
  }
}

.company__tab {
  &.active {
    background: #2392db;
    .company__tab--icon {
      svg {
        stroke: white;
      }
    }

    .company__tab--name {
      color: #ffffff;
    }
  }
}

// hoverしたときのアイコンの動き
.company__tab {
  &:hover {
    .company__tab--icon {
      transform: translateY(-30%);
    }
  }
}

.company__tab--name {
  color: #2392db;
  font-weight: 700;
}

.tab__content {
  display: none;

  &.active {
    display: block;
  }

  &.details,
  &.history,
  &.certify {
    background: #ffffff;
    border: 2px solid #2392db;
  }
}

// 会社概要
.company-about__title {
  text-align: center;
  color: #333;
  font-size: 22px;
  font-weight: 700;
}

.company-about__sub-title {
  margin-top: 20px;
  text-align: center;
  color: #333;
  font-weight: 400;
}

.details {
  padding: 60px 40px 50px;

  dl {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  dt,
  dd {
    color: #333;
    border: 1px solid #dbdbdb;
    padding-top: calc(15px - 2px);
    padding-bottom: calc(14px - 2px);
  }

  dt {
    text-align: center;
    background: #f2f2f2;
  }

  dd {
    padding-left: 10px;
  }
}

// 沿革
.history {
  padding-block: 44px 122px;
  padding-left: 30px;
}

.company-history__box {
  display: flex;
  flex-direction: column;
  gap: 2px;

  &:nth-of-type(n + 2) {
    margin-top: 16px;
  }
}

.company-history__head {
  display: flex;
  align-items: center;
  gap: 8px;
}

.company-history__dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #2bcbc6;
}

.company-history__meta {
  color: #2392db;
  font-weight: 700;
}

.company-history__text {
  color: #000;
  font-weight: 400;
  padding-left: calc(8px + 9px);
}

// 認証取得
.certify {
  padding: 58px 30px 168px;
}

.company-certify__title {
  color: #2392db;
  font-weight: 700;
}

.company-certify__text {
  margin-top: 14px;
  color: #333;
  font-weight: 400;
  min-width: 338px;
}
