@use "breakpoints" as bp;
.cta {
  background: linear-gradient(90deg, #2390dc 0%, #2bc8c8 100%);
  text-align: center;

  @include bp.mq(md) {
    padding-block: 80px;
  }
}

.cta__inner {
}

.cta__title {
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2.6px;
}

.cta__sub-title {
  margin-top: 8px;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 1.6px;
}

.cta_button {
  margin-top: 17px;
}
