@use "breakpoints" as bp;
.footer {
  background: linear-gradient(90deg, #2390dc 0%, #2bc8c8 100%);
  text-align: center;
  padding-top: 46px;

  @include bp.mq(md) {
    padding-top: 60px;
  }
}

.footer__inner {
  @include bp.mq(md) {
    padding-inline: 110px 230px;
  }
}

.footer__access {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include bp.mq(md) {
    flex-direction: row;
    gap: 78px;
    justify-content: space-between;
  }
}

.footer__main {
  @include bp.mq(md) {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 16px;
  }
}

.footer__logo {
  margin-inline: auto;

  @include bp.mq(md) {
    margin-inline: unset;
  }

  img {
    width: 160px;
  }
}

.footer__address {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.address,
.phone__number {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.address {
}

.phone__number {
}

.footer__menu--box {
  display: flex;
  flex-direction: column;
  gap: 36px;

  @include bp.mq(md) {
    flex-direction: row;
    gap: 87px;
  }
}

.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include bp.mq(md) {
    flex-direction: row;
  }
}

.footer__menu--link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.footer__sns {
  display: flex;
  gap: 16px;
  margin-inline: auto;
}

.footer__sns--link {
  img {
    width: 30px;
  }
}

.footer__copyright {
  color: #ffffff;
  margin-top: 36px;
  padding-block: 11px;
  font-size: 12px;
  font-weight: 500;
  line-height: calc(17px / 12px);
}
