@use "breakpoints" as bp;
@use "variable" as var;

.news {
  background: #ffffff;

  @include bp.mq(md) {
    padding-block: 100px;
  }
}

.news__inner {
  padding-inline: 15px;

  @include bp.mq(md) {
    margin-inline: auto;
    padding-inline: 150px;
    max-width: calc(930px + 300px);
  }
}

.news__heading {
}

.news__cards {
  display: flex;
  flex-direction: column;

  @include bp.mq(md) {
    margin-top: 60px;
  }
}

.news__card {
}

.news-card {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding-block: 10px;
  border-bottom: 1px solid #e3e3e3;

  @include bp.mq(md) {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 30px;
    padding-block: 12px;
  }
}

.news__meta {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
}

.news__title {
  color: #111111;
  font-size: 15px;
  font-weight: 400;

  @include bp.mq(md) {
    font-size: 16px;
  }
}

.news__pagination {
  margin-top: 46px;

  @include bp.mq(md) {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.arrow-icon,
.number {
  border: 1px solid #828282;
  background: #ffffff;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.5s, color 0.5s, stroke 0.5s;

  // ホバー時の色
  &:hover {
    background: #228ddd;
    border: none;
    color: #ffffff;

    .path-color {
      stroke: #ffffff;
    }
  }
}

.arrow-icon {
}

.path-color {
  stroke: #828282;
}

.next {
  transform: rotate(180deg);
}

.number {
  color: #707070;
  font-family: var.$font-family-en;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.44px;
  text-indent: 1.44px;
}

.news__button {
  margin-top: 30px;
  text-align: center;

  @include bp.mq(md) {
    margin-top: 0;
  }
}
