@use "variable" as var;

.news {
  background: #ffffff;
}

.news__inner {
  padding-inline: 15px;
}

.news__heading {
}

.news__cards {
  display: flex;
  flex-direction: column;
}

.news__card {
}

.news-card {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding-block: 10px;
  border-bottom: 1px solid #e3e3e3;
}

.news__meta {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
}

.news__title {
  color: #111111;
  font-size: 15px;
  font-weight: 400;
}

.news__pagination {
  margin-top: 46px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.arrow-icon,
.number {
  border: 1px solid #828282;
  background: #ffffff;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.5s, color 0.5s, stroke 0.5s;

  // ホバー時の色
  &:hover {
    background: #228ddd;
    border: none;
    color: #ffffff;

    .path-color {
      stroke: #ffffff;
    }
  }
}

.arrow-icon {
}

.path-color {
  stroke: #828282;
}

.next {
  transform: rotate(180deg);
}

.number {
  color: #707070;
  font-family: var.$font-family-en;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.44px;
  text-indent: 1.44px;
}

.news__button {
  margin-top: 30px;
  padding: 4px 3px;
  text-align: center;
}
