@use "breakpoints" as bp;

.seminar {
  background: #fff;

  @include bp.mq(md) {
    padding-block: 100px;
  }
}

.seminar__inner {
  padding-inline: 15px;

  @include bp.mq(md) {
    padding-inline: 100px;
  }
}

.seminar__head {
  padding-left: 15px;
}

.seminar__cards {
  display: flex;
  flex-direction: column;
  gap: 36px;

  @include bp.mq(md) {
    margin-top: 38px;
    gap: 40px;
  }
}

.seminar__card {
}

.seminar-card {
  border-radius: 6px;
  box-shadow: 5px 7px 34px 0px #f1f1f1;
  padding-block: 24px 30px;
  padding-inline: 12px;

  @include bp.mq(md) {
    padding: 24px;
  }
}

.seminar-card__content {
  display: grid;
  gap: 30px;
}

.seminar-card__image {
  margin-inline: auto;
  max-width: 324px;

  img {
    width: 324px;
  }
}

.seminar-card__body {
  margin-top: 22px;

  @include bp.mq(md) {
    margin-top: unset;
  }
}

.seminar-card__info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.seminar-card__label {
  font-size: 12px;
  font-weight: 700;
  border-radius: 2px;
  background: #2392db;
  color: #ffffff;
  padding: 6px 12px;
}

.seminar-card__date {
  font-weight: 500;
  line-height: calc(23px / 16px);
}

.seminar-card__title {
  margin-top: 14px;
  font-size: 20px;
  font-weight: 700;
  line-height: calc(29px / 20px);
}

.seminar-card__text {
  margin-top: 14px;
  font-size: 14px;
  font-weight: 500;
}

.seminar-card__button {
  margin-top: 22px;
  text-align: right;
}

.seminar__button {
  margin-top: 46px;
  text-align: center;

  @include bp.mq(md) {
    margin-top: 40px;
  }
}
