.seminar {
  background: #fff;
}

.seminar__inner {
  padding-inline: 15px;
}

.seminar__head {
  padding-left: 15px;
}

.seminar__cards {
}

.seminar__card {
}

.seminar-card {
}

.seminar-card__content {
}

.seminar-card__image {
}

.seminar-card__body {
}

.seminar-card__info {
}

.seminar-card__label {
}

.seminar-card__date {
}

.seminar-card__title {
}

.seminar-card__text {
}

.seminar-card__button {
}

.button-group2 {
}

.button-medium {
}
